<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.6/default/snipcart.css" />


  <title>Trekking Clothes</title>
</head>

<body>
  
  <div class="container-fluid bg-black header-top d-none d-md-block">
    <div class="container">
      <div class="row text-light pt-2 pb-0">
        <div class="col-md-7">
          <p class="demo"><a href="index.html">Trekking Clothes</a></p><br>
        </div>
        
        <div class="col-md-2">
          <a href="login.html"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión</a>
        </div>
        
        <div class="col-md-2">
          <a href="registrarse.html"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</a>
        </div>
        <div class="col-md-1 text-right">
          <a href="" style="color: orange; white-space: nowrap;">
            <i class="fa fa-shopping-cart" aria-hidden="true" style="color: orange;"></i>
            Carrito de Compras
          </a>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="container-fluid bg-black">
    <nav class="container navbar navbar-expand-lg navbar-dark bg-black">
      <a class="navbar-brand active" href="index.html"><i>Trekking Clothes</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"href="#hombre">HOMBRE <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="#mujer">MUJER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="#accesorios">ACCESORIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="#contacto">CONTACTO</a>
          </li>
      </div>
    </nav>
  </div>

  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/header3.jpg" class="d-block w-100 img-size" alt="first slide" />
          <div class="carousel-caption d-none d-md-block half-black ">
            <h1>No puedes perderte la experiencia trekking</h1><br><br>
            <p><h1>Prueba nuestros productos</h1></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/header1.jpg" class="d-block w-100" alt="second photo" />
          <div class="carousel-caption d-none d-md-block half-black">
            <h1>Calidad y Confianza nos caracterizan</h1><br><br>
            <p><h1>No pierdas la oportunida de tu vida</h1></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">previo</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">siguiente</span>
      </a>
    </div>
  </div>

  <div class="container-fluid offer pt-3 pb-0 as d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 m-right">
          <h6>50% de descuento los miercoles en local pagando en efectivo</h6>
        </div>
        <div class="col-md-4 m-right">
          <h6>Ofertas y los mejores precios. Solo en Trekking Clothes</h6>
        </div>
        <div class="col-md-4">
          <h6>Envios a todo el pais sin cargos</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light-gray">
    <div class="container pt-5"id="hombre">
      <div class="row">
        <h3>Hombre</h3>
      </div>
      <div class="underline"></div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card zoom">
            <img src="img/leather1.jpg" alt="change" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Campera roja Infable Talle XL</h5>
              <h5 class='item-price'>$20.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="starry-night" data-item-price="149.99"
                data-item-url="/paintings/starry-night" data-item-description="High-quality padded leather motorcycle jacket."
                data-item-image="img/leather1.jpg" data-item-name=" Leather Street Jacket">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img src="img/leather2.jpg" alt="change" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Zapatillas trekking de hombre talle 42</h5>
              <h5 class='item-price'>$38.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="Padded leather jackets" data-item-price="269.99"
                data-item-url="index.html" data-item-description="High-quality padded leather motorcycle jacket."
                data-item-image="img/leather2.jpg" data-item-name="Padded Leather Jacket">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img src="img/leather3.jpg" alt="change" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Remera Termica para Hombre Talle M</h5>
              <h5>$12.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="jacket 3" data-item-price="249.99"
                data-item-url="index.html" data-item-description="High-quality padded leather motorcycle jacket."
                data-item-image="img/leather3.jpg" data-item-name="Italian Leather Jacket">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="img/leather4.jpg" alt="change" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Pantalon trekking para hombre Talle 40</h5>
              <h5>$26.800</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="jacket 4 " data-item-price="349.99"
                data-item-url="index.html" data-item-description="Bristish leather motorcycle jacket." data-item-image="img/leather4.jpg"
                data-item-name="Patriot Street Jacket">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5"id="mujer">
      <div class="row">
        <h3>Mujer</h3>
      </div>
      <div class="row">
        <div class="underline"></div>
      </div>
    </div>
    <div class="container mt-5 pb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="img/boots1.jpg" alt="shops" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Pantalon Trekking Mujer Taller S</h5>
              <h5>$47.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="boot1" data-item-price="99.99"
                data-item-url="index.html" data-item-description="Dark brown leather boots." data-item-image="img/boots1.jpg"
                data-item-name="Dark brown leather boots">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img src="img/boots2.jpg" alt="shops" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Campera Trekking Mujer Talle M</h5>
              <h5>$100.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="boots2" data-item-price="129.99"
                data-item-url="index.html" data-item-description="Fine leather boots." data-item-image="img/boots2.jpg"
                data-item-name="Fine leather boots">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img src="img/boots3.jpg" alt="shops" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Zapatillas Trekking para mujer Talle 38</h5>
              <h5>$50.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="boot3" data-item-price="159.99"
                data-item-url="index.html" data-item-description="Brown leather boots." data-item-image="img/boots3.jpg"
                data-item-name=" brown leather boots">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img src="img/boots4.jpg" alt="shops" class="card-img-top fixed-size-img" />
            <div class="card-body">
              <h5>Remera termica mujer Talle L</h5>
              <h5>$20.000</h5>
              <button class="btn btn-danger snipcart-add-item" data-item-id="boot4" data-item-price="259.99"
                data-item-url="index.html" data-item-description="Doc leather boots." data-item-image="img/boots4.jpg"
                data-item-name="Doc leather boots">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid pt-5 pb-5">
    <div class="container" id="accesorios">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <h4>Accesorios</h4>
          </div>
          <div class="row">
            <div class="underline-green"></div>
          </div>
          <div class="media mt-5">
            <img src="img/headlight1.jpg" alt="LED headlight" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Mochila trekking clayton 70</h5>
              <h6>$50.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="headlight1" data-item-price="59.99"
                data-item-url="index.html" data-item-description="LED Headlight Upgrade" data-item-image="img/headlight1.jpg"
                data-item-name="LED Headlight Upgrade">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>

          <div class="media mt-5">
            <img src="img/mirrors2.jpg" alt="bar-end mirror" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Mochila Intruder NTK</h5>
              <h6>$28.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="mirror2" data-item-price="29.99"
                data-item-url="index.html" data-item-description="bar end mirrors" data-item-image="img/mirrors2.jpg"
                data-item-name="bar end mirrors">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>

          <div class="media mt-5">
            <img src="img/gloves2.jpg" alt="Gloves" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Mochila de montaña y trekking 30L Quechua MH500</h5>
              <h6>$80.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="gloves2" data-item-price="80"
                data-item-url="index.html" data-item-description="Leather gloves" data-item-image="img/gloves2.jpg"
                data-item-name="Leather gloves">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <h4>Contamos con stock</h4>
          </div>
          <div class="row">
            <div class="underline-red"></div>
          </div>
          <div class="media mt-5">
            <img src="img/mirrors1.jpg" alt="Mirrors" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Carpa Trekking Pukara 2 personas</h5>
              <h6>$30.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="mirrors1" data-item-price="19.99"
                data-item-url="index.html" data-item-description="Low cost barend mirrors" data-item-image="img/mirrors1.jpg"
                data-item-name="Low cost barend mirrors">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>

          <div class="media mt-5">
            <img src="img/gloves1.jpg" alt="Gloves" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Guantes antidesgarros Hombre</h5>
              <h6>$8.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="gloves1" data-item-price="19.99"
                data-item-url="index.html" data-item-description="Faux leather gloves" data-item-image="img/gloves1.jpg"
                data-item-name="Faux leather gloves">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>

          <div class="media mt-5">
            <img src="img/helmet1.jpg" alt="Helmet" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Manta de Picnic 2M x 80cm</h5>
              <h6>$7.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="helmet1" data-item-price="199.99"
                data-item-url="index.html" data-item-description="AVG helmet" data-item-image="img/helmet1.jpg"
                data-item-name="AVG helmet">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <h4>Bajos costos</h4>
          </div>
          <div class="row">
            <div class="underline-blue"></div>
          </div>
          <div class="media mt-5">
            <img src="img/scarf1.jpg" alt="Scarf" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>TSL Outdoor Connect Carbon 2 Cross ST - Bastones de trekking</h5>
              <h6>€10.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="scarf1" data-item-price="10"
                data-item-url="index.html" data-item-description="classic wool scarf" data-item-image="img/scarf1.jpg"
                data-item-name="classic wool scarf">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>

          <div class="media mt-5">
            <img src="img/bag1.jpg" alt="bag" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Carpa NTK para 2 personas</h5>
              <h6>$60.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="bag1" data-item-price="100" data-item-url="index.html"
                data-item-description="Saddle Bag" data-item-image="img/bag1.jpg" data-item-name="Saddle bag">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>

          <div class="media mt-5">
            <img src="img/jeans1.jpg" alt="Jeans" class="img-fluid mr-3" />
            <div class="media-body mt-2">
              <h5>Linterna c/Brujula</h5>
              <h6>$20.000</h6>
              <button class="btn btn-success snipcart-add-item" data-item-id="jeans1" data-item-price="119.99"
                data-item-url="index.html" data-item-description="Kevlar Jeans" data-item-image="img/jeans1.jpg"
                data-item-name="Kevlar Jeans">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid pt-5 bg-dark text-light">
        <div class="container" id="contacto">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <h5>CONTACTO</h5>
                    </div>
                    <div class="row mb-4">
                        <div class="underline bg-light" style="width:50px"></div>
                    </div>
                    <div class="row">
                        <p>
                            Teléfono: 341-4525839<br>
                            Mail: Trekking@gmail.com
                        </p>
                    </div>
                </div>

                <div class="col-md-3 offset-md-2">
                  <div class="row">
                      <h5>SOBRE NOSOTROS</h5>
                  </div>
                  <div class="row mb-4">
                      <div class="underline bg-dark" style="width:50px"></div>
                  </div>
                  <div class="row">
                      <p>
                           Somos una empresa dedicada a la venta de ropa y accesorios de trekking, por largos años siempre hemos sabido llevar adelante nuestra empresa manejando los más altos estándares de calidad.<br><br><br><br>
                           <br><br><br><br>
                      </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>