<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Meta etiquetas requeridas -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora&display=swap"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Registrarse</title>
  </head>
  <body>
    <div class="container-fluid bg-orange-light">
      <nav class="container navbar navbar-expand-lg navbar-dark bg-orange-light">
        <a class="navbar-brand text-uppercase text-white" href="index.html">INICIO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Alternar navegación"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-uppercase-black" href="index.html#hombre">Hombre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase-black" href="index.html#mujer">Mujer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase-black" href="index.html#accesorios">Accesorios</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- FIN DE HEADER -->

    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-md-4">
          <img src="img/registrarse1.jpg" alt="escalador" class="img-fluid" />
        </div>
        <div class="col-md-4">
          <form>
            <div class="form-row pt-5">
              <div class="form-group col-md-6">
                <label for="inputNombre">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputNombre"
                  placeholder="Jorge"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputApellido">Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputApellido"
                  placeholder="Vidal"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail">Correo Electrónico</label>
                <input
                  type="email"
                  class="form-control form-control-sm"
                  id="inputEmail"
                  placeholder="Jorg123@gmail.com"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputConfirmarEmail">Confirmar Correo Electrónico</label>
                <input
                  type="email"
                  class="form-control form-control-sm"
                  id="inputConfirmarEmail"
                  placeholder="Jorg123@gmail.com"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputContraseña">Contraseña</label>
                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="inputContraseña"
                  placeholder="******"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputConfirmarContraseña">Confirmar Contraseña</label>
                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="inputConfirmarContraseña"
                  placeholder="******"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="inputDirección">Dirección</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="inputDirección"
                placeholder="San luis 2570"
              />
            </div>

            <div class="form-group">
              <label for="inputTeléfono">Teléfono</label>
              <input
                type="tel"
                class="form-control form-control-sm"
                id="inputTeléfono"
                placeholder="341-4567890"
              />
            </div>
           
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCiudad">Ciudad</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="inputCiudad"
                  placeholder="Rosario"
                />
              </div>
               <div class="form-group col-md-3">
                <label for="inputCódigoPostal">Codigo Postal</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="inputCódigoPostal"
                  placeholder="2000"
                />
              </div>
              
            </div>
            <button type="submit" class="btn btn-dark bg-orange-light">Registrarse</button>
          </form>
        </div>
        <div class="col-md-4">
          <img src="img/registrarse2.jpg" alt="montaña" class="img-fluid" />
        </div>
      </div>
    </div>
  </body>
</html>    
    

